.about {
  width: 320px;
  max-height: 1477px;
}

.about__title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  padding-left: 30px;
}
