.catalog-title {
  width: 320px;
  max-height: 177px;
  background-color: #F1F1F1;;
}

.catalog-title__slogan {
  display: block;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  width: 260px;
  height: 90px;
  margin: 0;
  padding-top: 73px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
}
