.menu-wrapper {
  width: 320px;
  height: 103px;
  background-color: hsl(168, 54%, 60%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-wrapper__link {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 48px;
  display: block;
  padding-left: 30px;
}

.menu-wrapper__interior-icon {
  padding-right: 36px;
}

.menu-wrapper__toy-icon {
  padding-right: 27px;
}
