@use "page.scss";
@use "main-header.scss";
@use "main-nav.scss";
@use "visually-hidden.scss";
@use "nav-item.scss";
@use "main-container.scss";
@use "main-title.scss";
@use "menu.scss";
@use "menu-wrapper.scss";
@use "product.scss";
@use "characteristics-list.scss";
@use "product-item.scss";
@use "button.scss";
@use "about.scss";
@use "about-list.scss";
@use "about-item.scss";
@use "about-item-review.scss";
@use "review-link.scss";
@use "main-footer.scss";
@use "contacts.scss";
@use "contacts-list.scss";
@use "social.scss";
@use "copyright.scss";
@use "catalog-container.scss";
@use "catalog-title.scss";
@use "catalog-product.scss";
@use "video-process.scss";
@use "catalog-footer.scss";
@use "form-container.scss";
@use "form-title.scss";
@use "form-order.scss";
@use "order-radio.scss";
@use "radio.scss";
@use "checkbox.scss";
@use "order-checkbox.scss";
@use "order-name.scss";
@use "order-telephone.scss";
@use "input-name.scss";
@use "order-email.scss";
@use "order-additionally.scss";
@use "additionally-text.scss";
@use "form-footer.scss";



